body{
    background-color: rgb(145, 208, 145);
}

.container{
    background-color: rgb(242, 231, 218);
    padding: 20px;
    margin: 10px;
}

.img{
    background-color:#155ca0;
    text-align: center;
    padding: 2px;
    margin: 5px;
}

.menu{
    list-style: none;
    padding : 0px;
    margin: 0px;
}

.menu li{
    display: inline;
    background-color: rgb(223, 230, 165);
    padding: 5px 10px;
    border-radius: 5px;
}

.menu li:hover{
    background-color: rgb(23, 244, 130);
}

a{
    text-decoration: none;
}

h1{
    color: #ff0000;
}

.res li{
    display: inline-block;
}